{% extends "layout.html" %}

{% block body_content %}
    <h1>Provide a one-word answer for each riddle</h1>
    <div class="form">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.Ans1.label }}
                {{ form.Ans1 }}
                {% if form.Ans1.errors %}
                    <div class="error">
                        {% for error in form.Ans1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br>
            {{ form.Ans2.label }}
            {{ form.Ans2 }}
            {% if form.Ans2.errors %}
                    <div class="error">
                        {% for error in form.Ans2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br>
            {{ form.Ans3.label }}
            {{ form.Ans3 }}
            {% if form.Ans3.errors %}
                    <div class="error">
                        {% for error in form.Ans3.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br>
            <br>
            {{ form.Ans4.label }}
            {{ form.Ans4 }}
            {% if form.Ans4.errors %}
                    <div class="error">
                        {% for error in form.Ans4.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br>
            <br>
            {{ form.Ans5.label }}
            {{ form.Ans5 }}
            {% if form.Ans5.errors %}
                    <div class="error">
                        {% for error in form.Ans5.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br>
            <br>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}